In [ ]:
%load_ext sql

In [ ]:
DB_ENDPOINT = 'db-final.cthok7dcfpd8.us-east-1.rds.amazonaws.com'
DB = 'db-final' 
DB_USER = 'admin'
DB_PASSWORD = 'Mateo1112.13'
DB_PORT = '3306'

In [ ]:
mysql_conn = 'mysql+pymysql://{}:{}@{}/{}'.format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB) 
print(mysql_conn)

In [ ]:
%sql $mysql_conn

In [ ]:
%sql    
SELECT* FROM ventas;

In [ ]:
import pandas as pd
sql_query ='SELECT* FROM ventas:'
df = pd.readsql (sql_query, mysql_conn)
df.head ()

In [ ]:
sql_query ='SELECT* FROM ventas:'
dfVentas = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM contrato:'
dfContrato = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM cliente:'
dfCliente = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM dispositivo:'
dfDispositivo = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM vehiculo:'
dfVehiculo = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM vendedor:'
dfVendedor = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM pais:'
dfPais = pd.readsql (sql_query, mysql_conn)

sql_query ='SELECT* FROM usuario:'
dfUsuario = pd.readsql (sql_query, mysql_conn)

In [ ]:
dfPais.head ()

In [ ]:
dfVen_Cli = dfVentas.merge(df.Cliente, left_on='cliente_sk', right_on='cliente_sk')
dfVen_Cli.head()

In [ ]:
dfVen_Cont = dfVentas.merge(df.Cliente, left_on='contrato_sk', right_on='contrato_sk')
dfVen_Cli.head()

In [ ]:
dimPais = dimPais.loc [: , ['Pais_sk', 'Pais']]
dimPais.head()

In [ ]:
dimDispositivo = dimDispositivo.loc [: , ['Dispositivo_sk', 'Serie', 'Descripcion']]
dimDispositivo.head()

In [ ]:
dimVendedor = dimVendedor.loc [: , ['Vendedor_sk', 'Vendedor']]
dimVendedor.head()

In [ ]:
dimControl = dimControl.loc [: , ['Contrato_sk', 'Correlativo', 'Codigo_Plan', 'Descripcion_Plan', 'Frecuencia', 'Periodo']]
dimControl.head()

In [ ]:
dimCliente = dimCliente.loc [: , ['Cliente_sk', 'Codigo_Cliente', 'Nombre', 'NIT', 'Correo']]
dimCliente.head()

In [ ]:
dimVehiculo = dimVehiculo.loc [: , ['Vehiculo_sk', 'Codigo_Vehiculo', 'Fabricante', 'Clase', 'Tipo', 'Linea']]
dimVehiculo.head()

In [ ]:
sql_query ='SELECT* FROM contrato:'
dfContrato = pd.readsql (sql_query, mysql_conn)
dfContrato = dfContrato.loc[:, ['Contrato_sk']]
dfContrato.head()

In [ ]:
sql_query ='SELECT* FROM cliente:'
dfCliente = pd.readsql (sql_query, mysql_conn)
dfCliente = dfCliente.loc[:, ['Cliente_sk']]
dfCliente.head()

In [ ]:
sql_query ='SELECT* FROM dispositivo:'
dfDispositivo = pd.readsql (sql_query, mysql_conn)
dfDispositivo = dfDispositivo.loc[:, ['Dispositivo_sk']]
dfDispositivo.head()

In [ ]:
sql_query ='SELECT* FROM vehiculo:'
dfVehiculo = pd.readsql (sql_query, mysql_conn)
dfVehiculo = dfVehiculo.loc[:, ['Vehiculo_sk']]
dfVehiculo.head()

In [ ]:
sql_query ='SELECT* FROM vendedor:'
dfVendedor = pd.readsql (sql_query, mysql_conn)
dfVendedor = dfVendedor.loc[:, ['Vendedor_sk']]
dfVendedor.head()

In [ ]:
sql_query ='SELECT* FROM pais:'
dfPais = pd.readsql (sql_query, mysql_conn)
dfPais = dfPais.loc[:, ['Pais_sk']]
dfPais.head()

In [ ]:
sql_query ='SELECT* FROM usuario:'
dfUsuario = pd.readsql (sql_query, mysql_conn)
dfUsuario = dfUsuario.loc[:, ['Usuario_sk']]
dfUsuario.head()